<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        darkMode: 'class',
    }
</script>
<script src="https://unpkg.com/htmx.org@1.9.0"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

{{range .MainPageScripts}}
<script>
// Embedded Script: {{.Name}}
{{.Content | safeJS}}
</script>
{{end}}

{{range .ExternalScripts}}
<script src="{{.}}"></script>
{{end}}

{{range .EmbeddedScripts}}
<script>
// Embedded Script: {{.Name}}
{{.Content | safeJS}}
</script>
{{end}}
