# yaml-language-server: $schema=https://primadi.github.io/lokstra/schema/lokstra.schema.json

configs:
  store:
    tenant-store: postgres-tenant-store
    user-store: postgres-user-store

service-definitions:
  db_core:
    type: dbpool_pg
    config:
      dsn: ${GLOBAL_DB_DSN:postgres://postgres:adm1n@localhost:5432/lokstra_db2}
      schema: ${GLOBAL_DB_SCHEMA:lokstra_auth}
  db_auth:
    type: dbpool_pg
    config:
      dsn: ${GLOBAL_DB_DSN:postgres://postgres:adm1n@localhost:5432/lokstra_db2}
      schema: ${GLOBAL_DB_SCHEMA:lokstra_auth}

servers:
  api-server:
    base-url: "http://localhost"
    addr: ":3000"
    published-services: [tenant-service]

