# yaml-language-server: $schema=https://primadi.github.io/lokstra/schema/lokstra.schema.json

configs:
  server: ${SERVER:}

deployments:
  development:
    servers:
      api-server:
        base-url: "http://localhost"
        addr: ":3000"
        published-services: [ user-service, order-service ]
  microservice:
    servers:
      user-server:
        base-url: "http://localhost"
        addr: ":4000"
        published-services: [ user-service ]
      order-server:
        base-url: "http://localhost"
        addr: ":5000"
        published-services: [ order-service ]
