# yaml-language-server: $schema=https://primadi.github.io/lokstra/schema/lokstra.schema.json

configs:
  server: ${SERVER:}
  db_dsn: ${DB_DSN:postgres://localhost/enterprise_router_service}
  global-db:
    dsn: ${@cfg:db_dsn}
    schema: "public"

deployments:
  development:
    servers:
      api-server:
        base-url: "http://localhost"
        addr: ":3000"
        published-services: [ user-service, order-service ]
  microservice:
    servers:
      user-server:
        base-url: "http://localhost"
        addr: ":4000"
        published-services: [ user-service ]
      order-server:
        base-url: "http://localhost"
        addr: ":5000"
        published-services: [ order-service ]
