# yaml-language-server: $schema=https://primadi.github.io/lokstra/schema/lokstra.schema.json

# Order Module Configuration
# This YAML defines deployment for the Order bounded context

service-definitions:
  order-repository:
    type: order-repository-factory
    # config: {}
  
  order-service:
    type: order-service-factory
    depends-on: [order-repository, user-service]

